---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import BlogPostCard from "../components/BlogPostCard.astro";
import "../styles/blog.css";
const allPosts = await getCollection("blog");

allPosts.sort(
	(a, b) =>
		new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
---

<MainLayout title="Homepage Rhythm Nation">
	<section aria-labelledby="titleHome">
		<div class="wrapper-contents home">
			<h1 id="titleHome">Welcome To Blogxyz <br> Content Collections</h1>
			<p class="h4">Learn from Music Producers and Enthusiasts</p>
		</div>
	</section>
	<section aria-labelledby="postsResent">
		<div class="wrapper-contents posts__resent">
			<h2 id="postsResent">Resent Blog Posts</h2>
			<ul class="posts__list posts__cards-large">
				{
					allPosts
						.slice(0, 3)
						.map((post: any) => (
							<BlogPostCard
								url={`/posts/${post.id}/`}
								tags={post.data.tags}
								image={post.data.image}
								imageAlt={post.data.imageAlt}
								title={post.data.title}
								pubDate={post.data.pubDate}
								author={post.data.author}
								description={post.data.description}
							/>
						))
				}
			</ul>
			<a href="/blog/" class="btn"
				>View all blog posts <span class="icon" aria-hidden="true">»</span></a
			>
		</div>
	</section>
</MainLayout>

<style>
	.home {
		display: grid;
		text-align: center;
		gap: var(--clamp-2-base);
	}

	.icon {
		font-size: var(--clamp-2-base);
	}
</style>
